/* CSS qui va servir au positionnement des éléments: */

/* Le header: */



/* Le content: */
.titreContenu{
    text-align: center;
}

table{
    text-align:justify;
    margin-left: 50%;
    transform: translate(-50%);
}

.red,.center{
    text-align: center;
}

/* Le footer: */

.footerCopyright{
    text-align: center;
}
